@require './basic'

.wrap
  margin 30px 30px
.faq-sub
  margin-top 30px
.font16
  font-size 16px
.faq-item
  margin-bottom 5px
  border-bottom 1px solid #aaa
.faq-items
  border-top 1px solid #aaa
.color-red
  color red